<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SpringMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- **************************Spring父容器初始化************************-->
  <!--  设置xml文件，要初始化的bin-->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param> 
  
 <!-- ************监听初始化容器 ****************-->
 <listener>
 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 
 
 
 <!-- *****************中文处理********************** -->
 <filter>
 	<filter-name>characterEncoding</filter-name>
 	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>characterEncoding</filter-name>
 	<url-pattern>/*</url-pattern>
 </filter-mapping>
 
 
 
 
 
  
  <!--  ***********************SpringMVC前端控制器初始化*********************-->
   <servlet>
  	<servlet-name>Spring-config</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<!--  配置文件xml位置 -->
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:Spring-config.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Spring-config</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>  
  
</web-app>